.opc-image-align{
  height: 35.58px;
  width: 35.77px;
  left: 10.046875px;
  top: 20.044921875px;
  border-radius: 0px;
}

.opc-scan-go-text {
  position: absolute;
  height: 31px;
  left: 14.93%;
  right: 39.73%;

  font-family: Helvetica Neue LT Pro, serif;
  font-size: 18px;
  line-height: 31px;
  /* identical to box height, or 172% */

  color: #333333;
}

.opc-header{
  width: 375px;
  height: 95px;
  left: 0px;
  top: 0px;
}

.opc-edit-cart {
  position: absolute;
  height: 21px;
  left: 77.6%;
  right: 2.67%;
  top: calc(50% - 21px/2 - 7px);

  font-family: Helvetica Neue LT Pro, serif;
  font-size: 14px;
  line-height: 31px;
  /* identical to box height, or 150% */

  text-align: right;

  color: #3E7697;

}