body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Helvetica Neue LT Pro";
  src: local("Helvetica Neue LT Pro"),
    url("./fonts/helvetica/NeueHelveticaW01-59Comp.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue LT Pro Bold";
  src: local("Helvetica Neue LT Pro Bold"),
    url("./fonts/helvetica/HelveticaNeueLTW01-75Bold.ttf") format("truetype");
}